/* custom fonts */
@font-face {
  font-family: Centra;
  src: url("./assests/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("./assests/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("./assests/font/CentraNo2-Book.ttf");
  font-weight: 400;
}


/* Default css style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;;
}

html {
  height: 100%;
}

body {
  font-weight: 400;
  background-image: url('./assests/img/stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


button {
  border: 0;
  background-color: transparent;
}
button:hover{
  text-decoration: none;
}


@media (min-width:1700px) {
	.container {
		max-width: 100%;
		padding: 0 150px;
    max-height: 100%;
	}
}

@media (max-width:997px) {
	.container {
		max-width: 100%;
		/* padding-top: 150px; */
    max-height: 100%;
	}
  .banner{
    margin-top:100px;
  }
}

/* NavBar style */
nav.navbar {
  padding: 18px 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav .nav-link.navbar-link:hover {
  filter: drop-shadow(0px 0px 8px white)  ;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.navbar-brand a{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navbar-brand img {
  width: 60%;
  height: auto;
}

span.navbar-text {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  display: inline-block;
}

.social-icon a {
  width: 42px;
  height: 42px;
  display: inline-flex;
}

.social-icon a img {
	width: 100%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: drop-shadow(0px 0px 15px white)  ;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
} 



/* Home style */


.banner {
  margin-top: 100px;
  
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(5, 53, 244, 0.5) -5.91%, rgba(172, 163, 213, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  width:25%;
  text-decoration: none;
}
.banner a:hover {
  filter: drop-shadow(0px 0px 10px rgb(74, 10, 221));
  color: linear-gradient(90.21deg, rgba(5, 53, 244, 0.5) -5.91%, rgba(172, 163, 213, 0.5) 111.58%);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner img {
  box-shadow:0px 0px 10px white;
  border-radius: var(--bs-border-radius)!important;
  width: 70%;
}

/* Skills */
.row {
  justify-content: space-evenly;   
  margin: none; 

}
.cardContainer {
  margin-bottom: 15px;
  text-align: center; 
}

.skills-list {
  text-align: left;
  padding-top: 20px;
}
.cardSection {
  border: solid 3px white;
  box-shadow: inset 0px 0px 5px white, 0 0 15px white;
  border-radius: var(--bs-border-radius)!important;

}
.cardSection:hover {
  box-shadow: inset 0px 0px 20px white, 0 0 15px white;
}
.card-body {

  padding: 1.25rem;
}

.sectionHeading {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 600;
}
.card-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
}
.resumeButton {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 25%;
  text-decoration: none;
}

.resumeButton:hover {
  filter: drop-shadow(0px 0px 10px rgb(74, 10, 221));
  color: linear-gradient(90.21deg, rgba(5, 53, 244, 0.5) -5.91%, rgba(172, 163, 213, 0.5) 111.58%);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

}

/* Projects */

.cardButtons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

}
.cardButtons a {
  color: white;
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 20px;
  margin-bottom: 16px;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: var(--bs-border-radius)!important;
  
}
.cardButtons a:hover{
  filter: drop-shadow(0px 0px 10px rgb(74, 10, 221));
  color: linear-gradient(90.21deg, rgba(5, 53, 244, 0.5) -5.91%, rgba(172, 163, 213, 0.5) 111.58%);
  border: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.projectImage{
  border-radius: var(--bs-border-radius)!important;
}

.card {
  background-color: transparent !important;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  border-radius: none;
}

.card-title{
  height: 50px;
}

/* Contact */

.contactButton {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 25%;
  text-decoration: none;
}

.contactButton:hover {
  filter: drop-shadow(0px 0px 10px white);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.inputShadow {
  filter: drop-shadow(0px 0px 8px white);

}

.content{
  -webkit-box-flex: 1;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */